<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../../../tailwind.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <!-- <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
    <section class="flex flex-col h-screen overflow-hidden">
      <!-- overflow-hidden：超過設定的長寬的範圍 都被隱藏起來 -->
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' if notice %>
      <div class="overflow-auto bg-blue-300 h-full">
      <!-- overflow-auto：橫向捲軸效果 -->
        <%= yield %>
      </div>
    </section>
  </body>
</html>
